
.testbox{
  border: purple solid 2px;
}
.FC {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.FR {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.GC {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto ;
}
.GR {
  display: grid;
  grid-template-rows: auto;
}
.perimeter{
  border: blue solid 2px;
}
.testbox1{
  border: blue solid 2px;
}
.testbox2{
  border: orange solid 2px;
}
.width100 {
  width: 100%;
}
.Attributes {
  display: grid;
  grid-template-columns: 50px 25px 25px 25px 25px 50px;
}
.Levelups {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.Printout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.numbers {
  text-align: center;
  justify-content: left;
}
.letters {
  text-align: right  ;
  justify-content: center;
}
.marginauto {
  margin: 2px;
}
.AlignmentRaceSection {
  display: flex;
}
.allowedClass {
  color: black;
}
.prohibitedClass {
  color: red;
}

.btn {
  background: lightgrey;
  text-align: center;
  align-self: center;
  flex: 1;
}
.lbl {
  text-align: center ;
  margin: 2px 0px;
  flex: 1;
}
.skillCostProhibited {
  background: red;
}
.skillCostOne {
  background: green;
}
.skillCostTwo {
  background: yellow;
}
.lefty {
  align-self: flex-start;
}
.width30 {
  width: 30%;
}
.width70 {
  width: 70%;
}
.centerAlign {
  justify-content: center;
}